body
{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
}

.main-container
{
    padding: 0;
    margin: 0;
}

.home
{
    width: 100%;
    height: 100vh;
}

.home img
{
    width: 100%;
    height: 100%;
    filter: grayscale(100%) brightness(60%);
}

.toolbar
{
    position: absolute;
    top: 0;
    width: 100%;
}

.toolbar .tool-left
{
    float: left;
}

.toolbar .tool-right
{
    float: right;
}

.tool-left h4
{
    font-size: 30px;
    margin: 30px;
    color: rgb(255, 149, 0);
}

.tool-right button
{
    height: 50px;
    border: none;
    outline: none;
    width: 150px;
    color: white;
    border: 2px solid rgb(255, 149, 0);
    border-radius: 20px;
    background: none;
    color: rgb(255, 149, 0);
    font-size: 15px;
    margin: 30px;
    cursor: pointer;
    transition: background-color .2sec ease;
}

.tool-right button:hover{
    background-color: rgb(255, 149, 0);
    color: white;
    transition-duration: .5s;
}

.home-content
{
    position: absolute;
    top: 100px;
    height: 100%;
}

.home-content h1
{
    
    margin: auto;
    width: 60%;
    
    font-size: 60px;
    color: white;
    margin-top: 100px;
}

.home-content p
{
    color: rgb(193, 192, 192);
    font-size: 15px;
    width: 60%;
    margin: auto;
    margin-top: 30px;
    font-weight: 100;
}

.home-content p button
{
    height: 40px;
        border: none;
        outline: none;
        width: 150px;
        color: white;
        border: 2px solid rgb(255, 149, 0);
        border-radius: 20px;
        background-color: rgb(255, 149, 0);
        font-size: 15px;
        margin: 30px;
        cursor: pointer;
        transition: background-color .2sec ease;
}

.galarry p
{
    width: 100%;
    text-align: center;
}

.galarry
{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.footer
{
    height: 50px;
    width: 100%;
    background-color:rgb(255, 149, 0);
    margin-top: 50px;
}
@media only screen and (max-width: 1100px) {

    .home-content h1
    {
        font-size: 40px;
        width: 80%;
    }

    .home-content p
    {
        width: 80%;
    }

    .home-content p button
    {
        width: 100px;
        height: 30px;
    }

    .tool-right button
    {
        height: 40px;
    }

    .sub-content
    {
        font-size: 12px;
    }
    .galarry 
    {
        width: 100%;
        margin: 0;
    }

    .footer
    {
        margin: 0;
    }
}

@media only screen and (max-width: 500px) {

    .home-content h1
    {
        font-size: 30px;
        margin-top: 10px;
    }

    .sub-content
    {
        font-weight: 100;
    }

    .tool-left h4
    {
        font-size: 20px;
    }

    .tool-right button
    {
        height: 30px;
        width: 150px;
        font-size: 13px;
    }

        .home-content p button {
            width: 80px;
            height: 30px;
            font-size: 12px;
        }
}

@media only screen and (max-width: 350px) {
    .home-content h1
    {
        font-size: 25px;
    }
    .tool-right button {
        display: none;
    }

    .home-content p button
    {
        width: 150px;
    }

}
